# Homework Assignment 2

## <u>Case Study</u>: Clustering and Missing Data Choices

Let's learn more about how data cleaning choices might affect our cluster analysis results.

### Research Goals

We will complete the following three analyses in this case study.

#### Complete Dataset Analysis
We will first perform a cluster analysis on a two dimensional, artificial dataset (**dataset1.csv**) that has no missing values. 

#### Incomplete Dataset Analysis A
Then we will perform a cluster analysis on this same dataset that now has some missing values (**dataset1_missing_a.csv**). We will try out the following methods of missing data cleaning and see how that affects our clustering results in this particular example.
* dropping the missing values

#### Incomplete Dataset Analysis B
Then we will perform another cluster analysis on this same dataset (**dataset1.csv**) that now has some missing values **for a different subset of values** (**dataset1_missing_b.csv**). We will try out the following methods of missing data cleaning and see how that affects our clustering results in this particular example.
* dropping the missing values
* imputing the missing values with 0
* imputing the missing values with the mean


### Important Hint:
**When plotting scatterplots throughout this analysis, you should include plt.xlim([0,14]) and plt.ylim([0,14]) lines of code below to aid in the analysis and visualization**. This sets the x-axis and y-axis lower and upper bounds to both be [0,14].

<hr>

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1.7</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.3.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.3.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.3.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.5.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.5.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.5.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">.75</td>
        </tr>
    </tbody>
</table>

<hr>

You may need this tutorial in this assignment.

### <u>Tutorial</u>: For Detecting and Dealing with NaN Values

We can use the **.isna()** pandas function to evaluate whether each value in a dataframe contains a NaN value.

**NaN**, standing for not a number, is a numeric data type used to represent any value that is undefined or unpresentable. It can be useful to use as a placeholder for or representative of a missing value entry in a numerical column in a dataframe. By represening these missing values as NaN, we are still able to perform mathematical functions on the numerical variable in the dataframe without getting errors.

In [1]:
import pandas as pd
tmp=pd.DataFrame({'col1':[None,4,None,2], 'col2': [None,3,7,8]})
tmp

   col1  col2
0   NaN   NaN
1   4.0   3.0
2   NaN   7.0
3   2.0   8.0

In [2]:
tmp.isna()

    col1   col2
0   True   True
1  False  False
2   True  False
3  False  False

We can furthermore use the pandas **.sum()** function to take the sum of each of the columns in a given dataframe. Generally, when we use a mathematical function in Python with Boolean values, the True values are automatically converted to a 1, and the False values are automatically converted to a 0.

In [3]:
tmp.isna().sum()

col1    2
col2    1
dtype: int64

We can drop all rows with missing values by using the **.dropna()** function.

In [4]:
tmp.dropna()

   col1  col2
1   4.0   3.0
3   2.0   8.0

We can impute all missing values with **.fillna()** function. For instance, we can fill all missing values with 0 using this function as shown below.

In [5]:
tmp.fillna(0)

   col1  col2
0   0.0   0.0
1   4.0   3.0
2   0.0   7.0
3   2.0   8.0

Alternatively, we could have used the **.fillna()** function to impute all missing values with the mean of each respective column as shown below.

In [6]:
tmp.mean()

col1    3.0
col2    6.0
dtype: float64

In [7]:
tmp.fillna(tmp.mean())

   col1  col2
0   3.0   6.0
1   4.0   3.0
2   3.0   7.0
3   2.0   8.0

### Imports

## 1. Complete Dataset Analysis

First, let's examine a complete version of our artificial dataset that has no missing values.

### 1.1.  Read and visualize the 'complete dataset'

Read the 'dataset1.csv' file into a dataframe.  Then plot a scatterplot of the data. How many rows does our dataframe have?

### 1.2 Visual assessment of clusterability

Using the scatterplot above, would you say that this dataset is clusterable? If so, how many clusters are there?

### 1.3. k-Means Elbow Plot

Create a k-means elbow plot for this dataset, with k=1 to k=19 on the x-axis.

### 1.4. Clusterability

Does the plot above suggest that the complete dataset is clusterable? If so, how many clusters does the k-means algorithm suggest are present in the dataset? Explain.

### 1.5 k-Means Suitability

From the scatterplot above, is this the ideal dataset that k-means was designed to work effectively for? If not, give at least one property of this "ideal dataset" that is not met.

### 1.6. Clustering with k-means

Cluster this dataset with k-means, using the number of clusters that are suggested in the dataset in 1.2. Then plot the dataset again, color-coding the points in the scatterplot by the resulting cluster labels. Also plot the cluster centroids in this plot as well.

**Use a random state of 100**.

### 1.7. Assessing Clustering Performance

Let's suppose that our goals for this particular cluster analysis were to:
1. identify any underlying, well-separated clusters (if any) that exist in the dataset
2. correctly assign each observation to the most sensible one of these "well-separated" clusters.

Use your plot above to assess how well k-means did with these research goals in mind. If the performance was not perfect, explain why this imperfect results might have occurred.

## 2. Incomplete Dataset Analysis A

Next, let's examine an incomplete dataset that has missing values for a subset of values.

The **dataset1_missing_a.csv** contains the same dataset as that in **dataset1.csv**, however some of the values are now considered to be missing. **The way that the missing entries in this csv are coded will be automatically detected and translated into NaN values by Python.**

### 2.1 Read the 'incomplete dataset'

First, read this 'dataset1_missing.csv' into a new dataframe.

<hr>

### 2.2. Missing Values

How many NaN values does each column in our incomplete dataset have (ie from dataset1_missing_a.csv)?

### 2.3. Dropping the Missing Values Analysis

Let's first try dropping the rows from this dataset and performing a cluster analysis on the remaining rows.

#### 2.3.1. Dropping the Missing Values


Create a new dataframe that has dropped all rows that have missing values. Then plot this dataframe in a scatterplot.

#### 2.3.2. Clusterability

Create a k-means elbow plot for this dataset from 2.3.1, with k=1 to k=19 on the x-axis.

#### 2.3.3. Interpretation and Comparison

How many clusters does the elbow plot above suggest the incomplete dataset with dropped rows has?

Compare the k-means elbow plot created for the complete dataset (1.3) and the k-means elbow plot created above in (2.3.2). If the elbow plots are different, explain why this is the case.

#### 2.3.4. Missing at Random

Do you think that observations in the incomplete dataset that did not have any missing values are representative of the complete dataset? Why or why not?

## 3. Incomplete Dataset Analysis B

Next, let's examine another incomplete dataset that has missing values *for a different set of observations* from the complete dataset.

The **dataset1_missing_b.csv** contains the same dataset as that in **dataset1.csv**, however *another set* of the values are now considered to be missing. **The way that the missing entries in this csv are coded will be automatically detected and translated into NaN values by Python.**

### 3.1 Read the 'incomplete dataset'

First, read this 'dataset1_missing_b.csv' into a new dataframe.

### 3.2. Missing Values

How many NaN values does each column in our incomplete dataset have (ie from dataset1_missing_b.csv)?

### 3.3. Dropping the Missing Values Analysis

Let's first try dropping the rows from this dataset and performing a cluster analysis on the remaining rows.

#### 3.3.1. Dropping the Missing Values


Create a new dataframe that has dropped all rows that have missing values. Then plot this dataframe in a scatterplot.

#### 3.3.2. Clusterability

Create a k-means elbow plot for this dataset from 3.3.1, with k=1 to k=19 on the x-axis.

#### 3.3.3. Interpretation and Comparison

How many clusters does the elbow plot above suggest the incomplete dataset with dropped rows has?

Compare the k-means elbow plot created with the complete dataset (1.3) and the k-means elbow plot created above in(3.3.2). If the elbow plots are different, explain why this is the case.

#### 3.3.4. Missing at Random

Do you think that observations in the incomplete dataset that did not have any missing values are representative of the complete dataset? Why or why not?

### 3.4. Imputing Missing Values with 0 Analysis

Let's instead try imputing all missing values with 0 in this analysis.

#### 3.4.1. Imputing the Missing Values with 0


Create a new dataframe that has imputed all missing values with 0. Then plot this dataframe in a scatterplot.

#### 3.4.2. Clusterability

Create a k-means elbow plot for this dataset from 3.3.1, with k=1 to k=19 on the x-axis.

#### 3.4.3. Interpretation and Comparison

Compare the number of clusters suggested by k-means elbow plot created with the complete dataset (1.3) and the number of clusters suggested by the k-means elbow plot created above in  (3.4.2). If these numbers are different explain why this might be the case.

#### 3.4.4 Clustering with k-Means

Cluster this dataset with k-means 6 times. One clustering with k=2 clusters, one clustering with k=3 clusters, ..., and one clusering with k=7 clusters. For each of these clusterings, plot the dataset and color code the points with the resulting cluster labels. Use a random state of 100.

#### 3.4.5 Reporting Results

Suppose that this two dimensional dataset represented two numerical preference values for a set of potential customers. An interested client would like for you to return a set of meaningfully distinct clusters of these potential customers, so the client can then effectively market their product to customers in the best cluster(s).

Suppose you were to return the clustering result with k=7 clusters that you found about in 3.4.4 to this client. How might your results lead to your client engaging in less effective marketing strategies?

### 3.5. Imputing Missing Values with the Column Averages Analysis

Finally, let's try imputing all missing values with their respective column averages in this analysis.

#### 3.5.1. Imputing the Missing Values with Column Averages


Create a new dataframe that has imputed all missing values with their respective column average. Then plot this dataframe in a scatterplot.

#### 3.5.2. Clusterability

Create a k-means elbow plot for this dataset from 3.4.1, with k=1 to k=19 on the x-axis.

#### 3.5.3. Interpretation and Comparison

Compare the number of clusters suggested by k-means elbow plot created with the complete dataset (1.3) and the number of clusters suggested by the k-means elbow plot created above in  (3.5.2). If these numbers are different explain why this might be the case.