# Assignment 5

### Imports

In [1]:
import pandas as pd

## Tutorials

### List Comprehension with IF Statments

Below is a basic Python `list comprehension` statement with just one `for` loop.

In [2]:
[10*i for i in range(0,10)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

We can also include an `if` statement after the `for` loop in Python `list comprehension` to filter for the values in the for loop that meet a certain condition.

In [3]:
[10*i for i in range(0,10) if i>4]

[50, 60, 70, 80, 90]

The code below is equivalent to embedding the if statement into the for loop.

In [4]:
sublist=[]
for i in range(0,10):
    if i>4:
        print(i)
        sublist.append(10*i)
print(sublist)

5
6
7
8
9
[50, 60, 70, 80, 90]

### Filtering a Dataframe

In [5]:
df_temp = pd.DataFrame({'x': [1,4,100], 'y': [101,6,9]})
df_temp

     x    y
0    1  101
1    4    6
2  100    9

We can filter a dataframe by first setting up a condition that we check for values in one (or more the columns) like below.

In [6]:
(df_temp['x']==4)

0    False
1     True
2    False
Name: x, dtype: bool

And then inserting this conditional statment into brackets after the dataframe (ex: `df_temp[]`).

In [7]:
df_temp[df_temp['x']==4]

   x  y
1  4  6

In [8]:
df_temp[df_temp['y']>7]

     x    y
0    1  101
2  100    9

## Question 1.7


## Question 1.8

## Question 1.9

## Question 2

## Question 3